# project .gitignore template

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

venv/
env/
.venv/
ENV/
env.bak/

*.log
*.out
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

dagster_home/*/

scripts/

volumes/

.ipynb_checkpoints/

.cache/
pytest_cache/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/


.DS_Store
ehthumbs.db
Icon?
desktop.ini
